@import "tailwindcss";

@plugin "daisyui" {
  themes: 
    corporate --default,
    dark --prefersdark, 
    light, 
    cupcake, 
    emerald, 
    business, 
    night, 
    synthwave, 
    retro, 
    cyberpunk, 
    valentine, 
    halloween, 
    garden, 
    forest, 
    aqua, 
    lofi, 
    pastel, 
    fantasy, 
    wireframe, 
    black, 
    luxury, 
    dracula;

}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
}